:root {
  --promary-color: #f7f7f7;
  --secondary-color: #854836;
  --details-color: #c4806c;
  --basic-color: #000000;
}
* {
  font-family: "EB Garamond", serif;
  font-family: "Young Serif", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
}

header {
  background-color: var(--promary-color);
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
}

.logo {
  text-decoration: none;
  color: var(--secondary-color);
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.9em;
}

.navigation a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 1.1em;
  font-weight: 100;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: center;
}

.navigation a:hover {
  background-color: var(--secondary-color);
  opacity: 0.8;
  color: var(--promary-color);
  border-radius: 10px;
}

section {
  padding: 100px 200px;
}

.hero-section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(./images/Banner.png) no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.hero-section h1 {
  color: var(--promary-color);
  font-size: 2em;
  font-weight: 500;
}

.hero-section p {
  color: var(--promary-color);
  font-size: 1.3em;
  font-weight: 300;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hero-btn {
  color: var(--secondary-color);
  background-color: var(--promary-color);
  font-size: 1.1em;
  font-weight: 700;
  padding: 0.5em;
  /* margin-bottom: 10px; */
  border: none;
  border-radius: 30px;
  letter-spacing: 1px;
  transition: 0.7s;
}

.hero-btn:hover {
  opacity: 0.9;
  transform: scale(1.1);
}
.title {
  display: flex;
  justify-content: center;
  color: var(--secondary-color);
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 30px;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.card {
  background-color: var(--promary-color);
  width: 21em;
  box-shadow: 0px 5px 29px rgb(1 1 1 /15%);
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  transition: 0.7s;
}
.card:hover {
  transform: scale(1.1);
}

.card-img {
  display: flex;
  justify-content: center;
}
.card-info {
  text-align: center;
}
.customer-img {
  width: 10vh;
  border-radius: 50%;
}

.card-info h3 {
  color: var(--secondary-color);
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
}
.card-info i {
  color: var(--details-color);
}
.card-info p {
  color: var(--secondary-color);
}

#product-section {
  background-color: var(--promary-color);
}
#product-section .container {
  margin-top: 30px;
}
.product-card {
  /* background-color: var(--secondary-color); */
  border: 1px solid var(--details-color);
  min-height: 14em;
  width: 23em;
  overflow: hidden;
  border-radius: 10px;
  margin: 20px;
  transition: 0.7s;
}
.product-card:hover {
  transform: scale(1.1);
}
.product-card:hover .product-img {
  opacity: 0.9;
}
.product-img img {
  width: 100%;
}
.product-info {
  padding: 1em;
}
.product-description {
  font-size: 0.8em;
  color: var(--secondary-color);
}
.product-title {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 200;
  margin-top: 10px;
}
.more {
  text-decoration: none;
  color: var(--details-color);
}
.more {
  color: #e78b00;
}
.footer {
  background-color: var(--secondary-color);
  color: var(--promary-color);
  padding: 2em;
  display: flex;
  justify-content: space-between;
}
.footer-info {
  font-size: 1.3em;
  font-weight: 200;
}
.footer-info a {
  text-decoration: none;
  color: var(--promary-color);
}
.footer-info a:hover {
  color: antiquewhite;
}
.social-icons a {
  color: var(--promary-color);
  font-size: 48px;
  padding: 0px 12px 0 0;
}

/* Styles for the newsletter section */
.newsletter-section {
  padding: 20px;
  text-align: center;
}
/* Styles for the newsletter form */
.newsletter-form {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 30px;
}

/* Styles for the label */
label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 5px;
  color: var(--secondary-color);
}

/* Styles for the email input field */
#emailInput {
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid var(--secondary-color);
  border-radius: 15px;
  margin-bottom: 10px;
}

/* Styles for the submit button */
input[type="submit"] {
  background-color: var(--secondary-color);
  color: var(--promary-color);
  font-size: 1em;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

/* Responsive styles */
@media (max-width: 1023px) {
  header {
    padding: 12px 20px;
  }
  .navigation a {
    padding-left: 10px;
  }
  .title {
    font-size: 1.5em;
  }
  section {
    padding: 80px 20px;
  }
  .hero-section h1 {
    font-size: 1.6em;
  }
  .hero-section p {
    font-size: 1em;
  }
  .container {
    flex-direction: column;
    align-items: center;
  }
  .newsletter-form {
    max-width: 90%;
  }
}

@media (max-width: 641px) {
  body {
    font-size: 12px;
  }
  .hero-section h1 {
    font-size: 1.4em;
  }
  .hero-section p {
    font-size: 0.8em;
  }
}

@media (max-width: 300px) {
  body {
    font-size: 10px;
  }
}